:root {
	font-size: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*Winter Pine Forest palette found at https://www.color-hex.com/color-palette/96707*/
	--dark-blue: #2a314a;
	--dark-medium-blue: #415777;
	--medium-blue: #617da1;
	--light-medium-blue: #8aaacd;
	--light-blue: #b5d8f5;
}

html {
	background-color: var(--light-blue);
}
