:root {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*Winter Pine Forest palette found at https://www.color-hex.com/color-palette/96707*/
  --dark-blue: #2a314a;
  --dark-medium-blue: #415777;
  --medium-blue: #617da1;
  --light-medium-blue: #8aaacd;
  --light-blue: #b5d8f5;
  color: var(--dark-blue);
  font-family: 'Roboto Mono', monospace;
}

html {
  background-color: var(--light-blue);
}

body {
  width: 85vw;
  margin-left: 310px;
  line-height: 1.6;
}
header,
h2 {
  font-size: 2.4em;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-blue);
}

section > p,
li {
  font-size: 1.4em;
  font-weight: 300;
  width: 82vw;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 3px solid;
  width: 13vw;
  background-color: var(--medium-blue);
}

#navbar header {
  border-bottom: 2px solid;
  padding: 15px 5px;
  font-size: 1.8em;
  font-weight: 700;
  color: var(--light-blue);
}
#navbar a {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--light-blue);
  padding: 15px 5px;
  font-size: 1.6em;
  border-bottom: 2px solid;
  margin: 5px 0px;
  letter-spacing: 2px;
}

pre,
code {
  background-color: var(--light-medium-blue);
  font-size: 1.4rem;
  font-weight: 400;
  width: 82vw;
}

@media only screen and (max-width: 1700px) {
  body {
    margin-left: 15vw;
  }
}

@media only screen and (max-width: 900px) {
  #navbar{
    display: flex;
    flex-wrap: wrap;
  }

  #navbar a {
    margin: 2px; 
    font-size: 1.2em;
  }
}
